# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# MT4 API Settings
MT4_API_URL=http://localhost:5003/api
USE_REAL_MT4=true

# MT4 Server Settings
MT4_SERVER=demo.metaquotes.com
MT4_LOGIN=80001413
MT4_PASSWORD=9K63%M?d?cTP

# Flask Settings
FLASK_PORT=5001
FLASK_DEBUG=False

# Webhook API URL
WEBHOOK_API_URL=http://localhost:5000